<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<div class="poker-image">
    <div class="hero-text">
      <h1>Game</h1>
      <p></p>
    </div>
  </div>
  <body>
      <h1>Leduc Hold'Em</h1>
      <p>Rules: Each player is dealt a private card from the range Queen, King, Ace. 
          There are six cards (2 of each suit). A round of betting ensues and after a community card
        is then dealt. After another betting round is completed a showdown ensues. Pairs beat high cards.</p>
    <div id="game_area">
      <textarea id="chat" cols="80" rows="20"></textarea><br><br>
      <div id="action" style="visibility: hidden;">
        <form method="post" enctype=multipart/form-data >
            Actions<br>
            <input type="button" name="action" value="Call">
            <input type="button" name="action" value="Fold">
            <input type="button" name="action" value="Raise">
            <input type="number" min="1" max="12" name='amount' value="2">
        </form>
    </div>
      
      <input id="start" type="button" value="Start Game" onclick="start_game();">
      <input id="leave" type="button" value="Leave Room" onclick="leave_room();">
    </div>
      
  </body>

  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
              var socket;
              $(document).ready(function(){
                  socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                  socket.on('connect', function() {
                      socket.emit('joined', {});
                  });
                  socket.on('status', function(data) {
                      $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                      $('#chat').scrollTop($('#chat')[0].scrollHeight);
                  });
                  socket.on('message', function(data) {
                      $('#chat').val($('#chat').val() + data.msg + '\n');
                      $('#chat').scrollTop($('#chat')[0].scrollHeight);
                  });
                  socket.on('turn', function(){
                      $("#action").css("visibility", "visible")
                  });
                  $('#text').keypress(function(e) {
                      var code = e.keyCode || e.which;
                      if (code == 13) {
                          text = $('#text').val();
                          $('#text').val('');
                          socket.emit('text', {msg: text});
                      }
                  });
                  $('input[type="button"]').on('click', function() { 
                      var action = this.value;
                      if (action == 'Call'){
                          socket.emit('turn', {'action': action});
                      }
                      else if (action == 'Fold'){
                        socket.emit('turn', {'action': action});
                      }
                      else if (action == 'Raise'){
                          var amount = parseInt($('input[name="amount"]').val());
                          socket.emit('turn', {'action': action, 'amount': amount});
                      }
                  });
              });
              function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('hello_world') }}";
                });
            }
            function start_game(){
                $("#start").remove();
                socket.emit('start', {});
            };
  </script>