<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<div class="main-image">
    <div class="hero-text">
        <h1>Pluribus Poker</h1>
        <p></p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="post" enctype=multipart/form-data>
            Name<br>
            <input type="text" name="name">
            <input type="submit" value="Play Me" />
        </form>
    </div>
</div>